<!DOCTYPE html>
<html>
<head>
  <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
  <title>KSEA-YG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="pos-f-t">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <a class="navbar-logo" href="/"><%=image_tag('logo.png', :class=>'logo-img', :style=>'float:left;')%><p class='navbar-logo-name'></p></a>
        <% if user_signed_in? %>
          <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" style="color:white;">
              &#9776;
            </button>
          <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
            <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Event
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% if current_user.events.count(:id) > 0 %>
                    <% current_user.events.each do |event| %>
                      <a class="dropdown-item" href="/"><%= event.name%></a>
                    <% end %>
                  <% end %>
                </div>
              </li>
              <% if current_user.profiles.count(:id) > 0 %>
                <% current_user.profiles.each do |profile| %>
                  <li class="nav-item">
                    <%=link_to(edit_profile_path(profile.id), :class => "nav-link") do%>
                      Edit Profile(<%= profile.first_name%>)
                    <% end %>
                  </li>
                <% end %>
              <% else %>
                <li class="nav-item">
                <%=link_to "Create Your Profile", new_profile_path, :class => "nav-link btn btn-primary-outline"%>
                </li>
              <% end %>

              <li class="nav-item">
                <%=link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link"%>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
<%= yield %>

</body>
</html>
